{
  "settings": {
    "import/resolver": {
      "alias": [
        ["@components", "./src/components"],
        ["@styles", "./src/styles"],
        ["@pages", "./src/pages"],
        ["@sections", "./src/pages/sections"],
        ["@images", "./src/images"]
      ]
    }
  }
}
