@import "@styles/mixins.scss";
@import "@styles/layout.scss";

.centered-container {
  height: 100vh;
  display: grid;
  place-items: center;
  z-index: 0;
}

.rich-text {
  @include rich-text();
  color: $primaryColor;
}

.rich-text-2 {
  @include rich-text();
  color: white;
}

.desc-header {
  color: lightgrey;
  font-size: 1rem;
  text-align: center;

  @media all and (max-width: 500px) {
    margin-top: 8px;
    font-size: 0.8rem;
  }
}

#content {
  text-align: center;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  width: 40%;
  top: 45%;

  @media all and (max-width: 768px) {
    top: 40%;
    width: 100%;
  }
}

.hide {
  position: absolute;
  background-color: rgb(25, 25, 25);
  height: 50px;
  width: 50px;
  right: 0;
  bottom: 0;
}

.app-version {
  position: absolute;
  top: 0;
  left: 0;
  width: 130px;
  margin-left: -25px;
  margin-top: -20px;

  @media all and (max-width: 400px) {
    width: 90px;
    margin-left: -15px;
    margin-top: -15px;
  }
}

.bottom-arrow {
  position: absolute;
  bottom: 0;
  margin-bottom: 1.3rem;
  left: 48.5%;
  .icon {
    @include icon-theme();
  }
}

.in-touch-btn {
  @include primary-button();
  margin-top: 3rem;
  width: 40%;

  @media all and (max-width: 500px) {
    width: 50%;
  }
}

.in-touch-btn:hover {
  background-color: rgba(55, 210, 117, 0.082);
}
