/** Theme **/
$canvas: rgb(25, 25, 25);
$primaryColor: rgb(55, 210, 117);
$scrollbarColor: rgb(102, 102, 102);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/** Layout **/
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: $canvas;
}

body::-webkit-scrollbar {
  width: 0.3rem;
}

body::-webkit-scrollbar-track {
  background: $canvas;
}

body::-webkit-scrollbar-thumb {
  background-color: $scrollbarColor;
  border-radius: 20rem;
}

.icon {
  color: $primaryColor;
  font-size: 2rem;

  @media all and (max-width: 400px) {
    font-size: 1.2rem;
  }
}

#experience,
#work,
#contact {
  position: relative;
  background-color: $canvas;
}

#about {
  position: relative;
  background-color: $canvas;
  border-top: solid 2px #111111;
}

#intro {
  overflow: hidden;
  position: sticky;
  top: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#hero {
  animation-duration: 3s;
  animation-name: fadeIn;
}

/** Fonts & Imports **/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
