/** Layout.scss **/

@mixin rich-text {
  font-size: 4rem;
  text-align: center;
  @media (max-width: 1440px) {
    font-size: 3rem;
  }
}

@mixin browser-defaults {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/** Navbar.scss **/

@mixin nav-text {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
