@import "@styles/mixins.scss";
@import "@styles/layout.scss";

/** Navigation **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  top: 0;
  width: 100vw;
  position: fixed;
  height: 4rem;
  padding-top: 1rem;

  .navbar-nav {
    background-color: transparent;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-item {
      list-style: none;
      margin-right: 4rem;
      @media all and (max-width: 768px) {
        margin-right: 0;
      }

      .nav-num {
        @include nav-num();
        @include no-display-mobile();

        .nav-text {
          @include nav-text();
          @include no-display-mobile();
        }

        .nav-text:hover {
          color: $primaryColor;
          border-bottom: 2px dashed $primaryColor;
          padding-bottom: 6px;
        }
      }
    }
  }
}

.app-logo {
  margin-right: auto;
  margin-left: 2rem;
  list-style: none;

  @include nav-text();
}

.nav-text {
  @include nav-text();
}

.nav-menu {
  @include icon-theme();
  margin-right: 2rem;
}

#nav-mobile-menu {
  @media all and (min-width: 850px) {
    display: none;
  }
}
